# version: '3.4'

# services:
#   client:
#     image: client
#     build:
#       context: client
#       dockerfile: ./Dockerfile
#     env_file: .env
#     ports:
#       - 3000:3000
#     volumes:
#       - ./client:/usr/src/app/

#   server:
#     image: server
#     build:
#       context: server
#       dockerfile: ./Dockerfile
#     env_file: .env
#     ports:
#       - 8000:8000
#     volumes:
#       - ./server:/usr/src/app

version: '3.6'
services:
  postgres:
    image: postgres:12
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgrespassword
  graphql-engine:
    image: hasura/graphql-engine:v1.3.3
    ports:
      - '8080:8080'
    depends_on:
      - 'postgres'
    restart: always
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:postgrespassword@postgres:5432/postgres
      ## enable the console served by server
      HASURA_GRAPHQL_ENABLE_CONSOLE: 'true' # set to "false" to disable console
      ## enable debugging mode. It is recommended to disable this in production
      HASURA_GRAPHQL_DEV_MODE: 'true'
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
      HASURA_GRAPHQL_JWT_SECRET: '{
        "type": "HS256",
        "key":"5e030a725c413c1329973a5de0e71323f09cef9511966fa91267b7332d4ea6e5dbe0d441bc0ec3c519229e1fe28cb1fd4e966ce2e10e4ea348f1c8cb4b4844131ad0b287d42a53f498be6c07d71ea71e7c33505268598bd515f9917757b5dcd8117f35b0d3facf0fc4e5bf0bcaf73b7201f2865153f4be644b635f069d0eb261"
        }'
      ## uncomment next line to set an admin secret
      # HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
volumes:
  db_data:
