@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Menlo';
  src: local('Menlo'), url(../fonts/Menlo-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Monaco';
  src: local('Monaco'), url(../fonts/Monaco.woff) format('woff');
}
